/*
	Copyright © 2020 Aleksandr Menyaylo (Александр Меняйло)

    This file is part of "eth-events".

    "eth-events" is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    "eth-events" is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with "eth-events". If not, see <https://www.gnu.org/licenses/>.
*/

/*
body > div
{
	border:1px solid red;
}
*/
:root
{
	--bg-color1: rgb(237, 238, 239);
	--bg-color2: white;
}
body
{
	margin-left: 30.9%;
	margin-right: 30.9%;
	background-color: var(--bg-color1);
}
body > div
{
	z-index: 2;
	position: relative; /*Чтобы поместить над #bgDiv*/
}
/*Делаем центр отдельным цветом*/
#bgDiv
{
	background-color: var(--bg-color2);
	position: fixed;
	top: 0px;
	width: 38.2%; /*В соответствии с margin в body.*/
	z-index: 1;
}
ol > li
{
	word-wrap: break-word;
}
.message
{
	text-align:center;
}
.header
{
	text-align: center;
}
.content
{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
input, textarea
{
	width: 100%;
	box-sizing: border-box;
}
textarea
{
	height: 10rem;
	resize: none;
}
.button
{
	text-align: center; /*Выравниваем кнопки по центру*/
}
.controlButtons
{
	text-align: center;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	bottom: 0px;
	padding: 0.3rem;
	background-color: var(--bg-color2);
}
.button button
{
	width: 45%;
}
.controlButtons button
{
	width: 22.5%
}
@media screen and (max-width: 1080px)
{
	body
	{
		margin-left: 0px;
		margin-right: 0px;
	}
	#bgDiv
	{
		width: 100%;
	}
	input
	{
		height: 2rem;
	}
	button
	{
		height: 3rem;
		font-size:150%;
	}
	.button button
	{
		width: 100%;
	}
	.controlButtons button
	{
		width: 49%;
	}
}
