/*
body > div
{
	border:1px solid red;
}
*/
:root
{
	--bg-color1: rgb(237, 238, 239);
	--bg-color2: white;
}
body
{
	margin-left: 30.9%;
	margin-right: 30.9%;
	background-color: var(--bg-color1);
}
body > div
{
	z-index: 2;
	position: relative; /*Чтобы поместить над #bgDiv*/
}
/*Делаем центр отдельным цветом*/
#bgDiv
{
	background-color: var(--bg-color2);
	position: fixed;
	top: 0px;
	width: 38.2%; /*В соответствии с margin в body.*/
	z-index: 1;
}
ol > li
{
	word-wrap: break-word;
}
.header
{
	text-align: center;
}
input, textarea
{
	width: 100%;
	box-sizing: border-box;
}
textarea
{
	height: 10rem;
	resize: none;
}
.button
{
	text-align: center; /*Выравниваем кнопки по центру*/
}
.controlButtons
{
	text-align: center;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	bottom: 0px;
	padding: 0.3rem;
	background-color: var(--bg-color2);
}
.button button
{
	width: 45%;
}
.controlButtons button
{
	width: 15.45%
}
/*Bootstrap style: btn-secondary*/
/*.btn*/
button
{
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;	
}
button:hover, button:focus
{
	text-decoration: none;
}
button:disabled
{
	opacity: 0.65;
}
button:not(:disabled)
{
	cursor: pointer;
}
button:not(:disabled):active, 
{
	background-image: none;
}
/*.btn-secondary*/
button
{	
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
button:hover
{
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

button:focus
{
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
button:disabled
{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
/*End bootstrap style*/
@media screen and (max-width: 1080px)
{
	body
	{
		margin-left: 0px;
		margin-right: 0px;
	}
	#bgDiv
	{
		width: 100%;
	}
	input
	{
		height: 2rem;
	}
	button
	{
		height: 3rem;
		font-size:150%;
	}
	.button button
	{
		width: 100%;
	}
	.controlButtons button
	{
		width: 49%;
	}
}
